<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated WT_DesignPatterns -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="WT.presentation.WTModelWizardID"
            name="%_UI_WTModelWizard_label"
            class="WT.presentation.WTModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/WTModelFile.gif">
         <description>%_UI_WTModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated WT_DesignPatterns -->
      <editor
            id="WT.presentation.WTEditorID"
            name="%_UI_WTEditor_label"
            icon="icons/full/obj16/WTModelFile.gif"
            extensions="wt"
            class="WT.presentation.WTEditor"
            contributorClass="WT.presentation.WTActionBarContributor">
      </editor>
   </extension>

</plugin>
